#root {
  height: 100%;
}
@media screen and (max-width: 480px) {
  #root {
    font-size: 0.9em;
  }
  button {
    font-size: 0.9em !important;
  }
  .main {
    max-width: 90%;
  }
  /* .submit-button {
    width: 40%;
  } */
  .task-item {
    width: 58%;
  }
}
